@media(max-width:500px){
*{box-sizing: border-box;}
/* nav */
.gnav-list{width: 100%;
          justify-content: space-around;
         
        }
.gnav-list li{
              margin-right: 0;
              font-size: 13px;
             }


/* header */
.logo{
      width: 100%;
     }
.logo-title{ font-size: 14px;
            letter-spacing: .5em;}

/* works*/

.works-section h1{font-size: 20px;}
.sub-title{font-size: 13px;}


/* feature */
.feature{display: block;}
.feature-section h1{font-size: 20px;}
.about-section p{font-size: 13px;}
.feature-section .sub-title{font-size: 13px;}
.feature-explanation{font-size: 13px;
                     width: 100%;
                     margin-left: 0;
                     padding: 10px 20px 0 20px;}
.feature-img{width: 100%;
             padding: 0 20px 0 20px;
          }
.feature-img img{max-width: 100%;
                 }
                       

/* about */
.about{display: block;}
.about-section h1{font-size: 20px;}
.about-img{width: 100%;}
.about-img img{
  width:50px;
  height: 50px;
  border-radius: 50%;}

.about-me{width: 100%;
          padding: 10px 20px 0 20px;}
.about-me ul{font-size: 13px;}
.about-me li:nth-child(1){font-weight: bold;}

/* skill */
.skill-section h1{font-size: 20px;}
.skill-section p{font-size: 13px;}
.skill-list{display: block;}
.skill-item{width:100%;
           padding: 0 20px 0 20px;
           margin-bottom: 20px;}
.skill-title{font-size: 16px;}

/* contact */
.contact-section h1{font-size: 20px;}
.contact-section{font-size: 13px;}

/* footer */
footer a{font-size: 13px;}
.copy-right p{font-size: 11px;}

}

/* ipad対応 */
@media(max-width:1024px){
  /* nav */
  .gnav-list{min-width: 500px;
             justify-content: space-around;
             ;}
  .gnav-list li{margin-right: 0;}
  /* header */
  header h1{font-size: 30px;}
  /* works */
  .works-section h1{font-size: 25px;}

  /* feature */
  .feature-section h1{font-size: 25px;}
  .feature-explanation{
                       font-size: 14px;
                       padding: 0 10px 0 10px;
                      }
  .feature-img img{width: 90%;
                  }

/* about */
.about-section h1{font-size: 25px;}
.about{display: block;}
.about-me{
         margin: 10px auto 0 auto;}
.about-img img{width: 250px;
              height: 250px;
             border-radius: 50%;}

/* skill */
.skill-section h1{font-size: 25px;}

/* contact */
.contact-section h1{font-size: 25px;}








}