/* 全体の設定 */
*{margin:0;
 padding: 0;
 box-sizing: border-box;}
body{
   font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", 
   "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
   "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
   font-size: 15px;
   color: #333;
   }
   /* .gnav */
.gnav{border-bottom: solid 2px #e9e9e9;
      width:100%;
      }
.gnav-list{list-style: none;
           display: flex;
           justify-content: center;
           }
.gnav-list a{line-height: 70px;
             color: #333;
             text-decoration:none;
             font-weight:bold;}
.gnav-list a:hover{opacity: .7;}
.gnav-item{margin-right: 50px;
           font-size: 15px;
           font-family: "Open sans", sans-serif;}
/* .header */
.header{width:100%;
        height:86vh;
        position: relative;       
        }
.logo{position: absolute;
      top: 50%;
      left:50%;
      transform: translate(-50%,-50%);
      text-align: center;
      font-family: "Open sans", sans-serif;}
.logo-title{font-size: 30px;
           letter-spacing: 3rem;}
.logo-subtitle{font-size: 20px;
               letter-spacing: 0.8rem;}
/* .works-section */
.section{padding-bottom: 8rem;}
.works-section{background-color: #f7f7f7;}
.inner{width:width:100%;
       text-align: center;
       margin: 0 auto;
       /* border: solid 2px black; */
      }
.title{font-size: 35px;
       font-family: "Open sans", sans-serif;
       margin-bottom: 10px;
       padding-top: 8rem;
       letter-spacing: .05rem;}
.sub-title{line-height: 1.8rem;}
.works img{width:100%;
           margin: 0 auto;
           padding: 0 20px 0 20px;
           transition-property: all;
           transition-duration: .3s;
       }
.works img:hover{transform: translateY(-20px);}
.works .site-name{font-size: 14px;}
.works p{font-size: 13px;}
.works a{font-size: 13px;
         text-decoration: none;
        color:tomato}
.works{display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
       margin-top:40px ;}
.works-item{
       /* padding-right: 20px;
            padding-top:20px; */
           width: 50%;
          ;}
/* .future-section */
.feature-img{width:60%;
              }
.feature-img img{width: 500px;}
.feature{display: flex;
         margin-top: 20px;
         justify-content: center;
         }
.feature-explanation{text-align: left;
                     margin-left: 20px;
                     width: 40%;}
.font-big{font-weight: bold;}

/* .about */
  .about-section{margin-top: 20px;
                 background-color: #f7f7f7;}
  .about-img img{width:300px;
                height: 300px;
                border-radius: 50%;
              } 
  .about{display: flex;
    justify-content: space-around;
    align-items: center;
         } 
  .about-me{width:60%;
            text-align: left;}
  .about-me ul{list-style-type: none;}
/* .skill-section */
    .skill{text-align: left;
           }
    .skill-list{display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
               }
    .skill-img{
           margin-right: 20px;
                   } 
    .fa-html5{color: #1ea2f1;}
    .fa-css3-alt{color:#FFD700;}
    .fa-mobile-alt{color:#2e8b57	}
    .fa-js{color: #c71585;}
    .skill-item{display: flex;
                width: 500px;
                margin-top: 40px;
              }
    .skill-title{font-size: 18px;}
    .rate{letter-spacing: .3em;
          position: relative;
         width: 100%;
         height: 20px;
       font-size:16px}
         
    .rate::before,.rate4::after{content: "★★★★★";
                   position: absolute;
                   top: 0;
                   left: 0;}
    .rate::before{color: #ddd;
                  ;}
    .skill-rating{margin-bottom: 10px;}
    .rate4::after
    {color: #f181b4;
                   width: 60px;
                   overflow: hidden;}
    .rate4js::after{color: #f181b4;
       width: 0px;
       overflow: hidden;}


/* .contact-sectiion */
.contact-section{background-color: #f7f7f7;
                width: 100%;}
.icon .fab{font-size: 3em;
       margin-right: 30px;
       margin-top: 30px;
       margin-bottom: 20px;

}
.fa-twitter-square{color: #1ea2f1;
                   }
.fa-facebook{color:#1a77f2}
/* .footer */
.back-top{width:100%;
          background-color: #cccccc;
          text-align: center;
          height: 40px;
         line-height: 40px;}
.back-top a{text-decoration: none;
            color: #eee;}
.copy-right{background-color: #1e1e1e;
       height: 70px;
       color: #878787;
       font-size: 13px;
       text-align: center;
       line-height: 70px;}
       
@media(max-width:500px){
*{box-sizing: border-box;}
/* nav */
.gnav-list{width: 100%;
          flex-wrap: wrap;}

/* header */
.logo{
      width: 100%;
     }
.logo-title{ font-size: 14px;
            letter-spacing: .5em;}

/* works*/

.works-section h1{font-size: 20px;}
.sub-title{font-size: 13px;}


/* feature */
.feature{display: block;}
.feature-section h1{font-size: 20px;}
.about-section p{font-size: 13px;}
.feature-section .sub-title{font-size: 13px;}
.feature-explanation{font-size: 13px;
                     width: 100%;
                     margin-left: 0;
                     padding: 10px 20px 0 20px;}
.feature-img{width: 100%;
             padding: 0 20px 0 20px;
          }
.feature-img img{max-width: 100%;
                 }
                       

/* about */
.about{display: block;}
.about-section h1{font-size: 20px;}
.about-img{width: 100%;}
.about-img img{
  width:200px;
  height: 200px;
  border-radius: 50%;}

.about-me{width: 100%;
          padding: 10px 20px 0 20px;}
.about-me ul{font-size: 13px;}
.about-me li:nth-child(1){font-weight: bold;}

/* skill */
.skill-section h1{font-size: 20px;}
.skill-section p{font-size: 13px;}
.skill-list{display: block;}
.skill-item{width:100%;
           padding: 0 20px 0 20px;
           margin-bottom: 20px;}
.skill-title{font-size: 16px;}

/* contact */
.contact-section h1{font-size: 20px;}
.contact-section{font-size: 13px;}

/* footer */
footer a{font-size: 13px;}
.copy-right p{font-size: 11px;}

}

/* ipad対応 */
@media(max-width:1024px){
  /* header */
  header h1{font-size: 30px;}
  /* works */
  .works-section h1{font-size: 25px;}

  /* feature */
  .feature-section h1{font-size: 25px;}
  .feature-explanation{
                       font-size: 14px;
                       padding: 0 10px 0 10px;
                      }
  .feature-img img{width: 90%;
                  }

/* about */
.about-section h1{font-size: 25px;}
.about{display: block;}
.about-me{
         margin: 10px auto 0 auto;}
.about-img img{width: 250px;
              height: 250px;
             border-radius: 50%;}

/* skill */
.skill-section h1{font-size: 25px;}

/* contact */
.contact-section h1{font-size: 25px;}








}

        
  


  
  
